@border_thickness: 5px;
@border_color: black;

body {
	width: 1200px;
	height: 900px;
	margin: 0;
}
#react{
	width: 100%;
	height: 100%;
}

#react_container{
	width: 100%;
	height: 100%;
    position: relative;
    display: flex;
	flex-direction: column;
}

#api_header {
	flex: 1;
	height: 5%;
  	background-color: green;
  	border-bottom: @border_thickness solid @border_color;

}

#api_mainscreen {
	height: 90%;
	display: flex;
	flex-direction: row;

  	#navbar{
  		height:100%;
  		width: 10%;
  		background-color: purple;
  		border-right: @border_thickness solid @border_color;
  	}

  	#viewport{
		height:100%;
		width: 90%;
		border-right: @border_thickness solid @border_color;
		background-image: url("hypnotize1.jpg");

		#operations{
			display: flex;
			width: 100%;
			height:100%;
			flex-direction: column;

			#request_buttons{
				display: flex;
				width: 100%;
				height:10%;
				flex-direction: column;
				align-items: center;
				justify-content: center;

				.btn{
					color: black;
				}

				.btn:focus{
					color: rgba(255, 255, 255, 1);
					box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
					border: 5px solid white;
					font-weight: bold;

				}
			}
			#dropzone_container{
				display: flex;
				width: 100%;
				height:15%;
				flex-direction: column;
				align-items: center;
				justify-content: center;	

				#dropzone_message{
					display: flex;
					height: 100%;
					align-items: center;
					align-content: center;
					justify-content: center;	
				}
				.dropzone{
					background-color: white;
					width : 25%;
  					height : 100%;
  					border : 1px dotted black;
				}

				.dropzone:hover{
					cursor: pointer;
					background-color: grey;
				}
			}
  		}
	}
}

#footer {
	height: 5%;
  	background-color: yellow;
  	border-top: @border_thickness solid @border_color;
}
